fastapi
uvicorn
streamlit
python-multipart
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
unstructured
beautifulsoup4
selenium
webdriver-manager
requests
pydantic
python-dotenv
